.vs/
CommentsService/.vs/
CommentsService/CommentsService/bin/
CommentsService/CommentsService/obj/
EvaluationsService/.vs/
EvaluationsService/EvaluationsService/bin/
EvaluationsService/EvaluationsService/obj/